@tailwind base;
@tailwind components;
@tailwind utilities;

/* リセットとベース設定 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

textarea {
  resize: none;
}